In [1]:
print (sc.version)

2.4.8

In [2]:
import os
import shutil
import pandas as pd
# import sh
from pyspark.sql.functions import *
#from pyspark.sql import functions as Fn
from pyspark.sql.types import *

In [3]:
pd.set_option("max_colwidth", 100)

Set up COS functions for GCS

In [5]:
from google.cloud import storage

In [7]:
# Reading data from open bucket, available to all students.
bucket_read = 'big-data-bucket-uci-class'

# Saving Results into individual bucket, students must update their own bucket.
bucket_write = 'big-data-bucket-uci-class'

In [8]:
!hadoop fs -ls 'gs://big-data-bucket-uci-class/lung'

Found 1 items
-rwx------   3 root root      35057 2022-06-04 15:37 gs://big-data-bucket-uci-class/lung/LungCapData.txt

In [9]:
path = "gs://big-data-bucket-uci-class/lung/LungCapData.txt"

Spark Dataframe did not exist before 2.x

In [11]:
lung_df = spark.read.csv(path, header='true', inferSchema='true', sep=',', quote='"')

lung_df.cache()

DataFrame[LungCap: double, Age: double, Height: double, Smoke: string, Gender: string, Caesarean: string]

In [12]:
type(lung_df)

pyspark.sql.dataframe.DataFrame

In [13]:
# Display first record
lung_df.first()

Row(LungCap=6.475, Age=6.0, Height=62.1, Smoke='no', Gender='male', Caesarean='no')

In [14]:
# release the cache
lung_df.unpersist()

DataFrame[LungCap: double, Age: double, Height: double, Smoke: string, Gender: string, Caesarean: string]

In [15]:
# cache it again
lung_df.cache()

DataFrame[LungCap: double, Age: double, Height: double, Smoke: string, Gender: string, Caesarean: string]

In [16]:
# Display first 5 rows
lung_df.head(5)

[Row(LungCap=6.475, Age=6.0, Height=62.1, Smoke='no', Gender='male', Caesarean='no'),
 Row(LungCap=10.125, Age=18.0, Height=74.7, Smoke='yes', Gender='female', Caesarean='no'),
 Row(LungCap=9.55, Age=16.0, Height=69.7, Smoke='no', Gender='female', Caesarean='yes'),
 Row(LungCap=11.125, Age=14.0, Height=71.0, Smoke='no', Gender='male', Caesarean='no'),
 Row(LungCap=4.8, Age=5.0, Height=56.9, Smoke='no', Gender='male', Caesarean='no')]

In [20]:
# Use show for a better display
lung_df.show(5)

+-------+----+------+-----+------+---------+
|LungCap| Age|Height|Smoke|Gender|Caesarean|
+-------+----+------+-----+------+---------+
|  6.475| 6.0|  62.1|   no|  male|       no|
| 10.125|18.0|  74.7|  yes|female|       no|
|   9.55|16.0|  69.7|   no|female|      yes|
| 11.125|14.0|  71.0|   no|  male|       no|
|    4.8| 5.0|  56.9|   no|  male|       no|
+-------+----+------+-----+------+---------+
only showing top 5 rows

For a better formatting of data enable repl.eagerEval

In [21]:
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)

In [22]:
lung_df.limit(5)

+-------+----+------+-----+------+---------+
|LungCap| Age|Height|Smoke|Gender|Caesarean|
+-------+----+------+-----+------+---------+
|  6.475| 6.0|  62.1|   no|  male|       no|
| 10.125|18.0|  74.7|  yes|female|       no|
|   9.55|16.0|  69.7|   no|female|      yes|
| 11.125|14.0|  71.0|   no|  male|       no|
|    4.8| 5.0|  56.9|   no|  male|       no|
+-------+----+------+-----+------+---------+

Print Schema is helpful for nested JSON formats.

In [24]:
lung_df.printSchema()

root
 |-- LungCap: double (nullable = true)
 |-- Age: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Smoke: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Caesarean: string (nullable = true)

Warning, Describe without "show" will give misleading results.

In [25]:
lung_df.describe()

+-------+------------------+------------------+-----------------+-----+------+---------+
|summary|           LungCap|               Age|           Height|Smoke|Gender|Caesarean|
+-------+------------------+------------------+-----------------+-----+------+---------+
|  count|               725|               725|              725|  725|   725|      725|
|   mean| 7.863147586206895|12.326896551724138|64.83627586206904| null|  null|     null|
| stddev|2.6620082486787164| 4.004749514042408|7.202144012503063| null|  null|     null|
|    min|             0.507|               3.0|             45.3|   no|female|       no|
|    max|            14.675|              19.0|             81.8|  yes|  male|      yes|
+-------+------------------+------------------+-----------------+-----+------+---------+

In [27]:
lung_df.describe().show()

+-------+------------------+------------------+-----------------+-----+------+---------+
|summary|           LungCap|               Age|           Height|Smoke|Gender|Caesarean|
+-------+------------------+------------------+-----------------+-----+------+---------+
|  count|               725|               725|              725|  725|   725|      725|
|   mean| 7.863147586206895|12.326896551724138|64.83627586206904| null|  null|     null|
| stddev|2.6620082486787164| 4.004749514042408|7.202144012503063| null|  null|     null|
|    min|             0.507|               3.0|             45.3|   no|female|       no|
|    max|            14.675|              19.0|             81.8|  yes|  male|      yes|
+-------+------------------+------------------+-----------------+-----+------+---------+

Spark DF Variable Casting

In [29]:
lung_df = lung_df.withColumn("Age", lung_df["Age"].cast(IntegerType()))

In [30]:
lung_df.printSchema()

root
 |-- LungCap: double (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Height: double (nullable = true)
 |-- Smoke: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Caesarean: string (nullable = true)

In [31]:
lung_df_mod = lung_df.\
withColumn("Random", rand()).\
withColumn("Zero", lit(0)).\
withColumn("Country",lit('Italy')).\
withColumn("City", lit('Rome'))

In [32]:
lung_df_mod.show(5)

+-------+---+------+-----+------+---------+--------------------+----+-------+----+
|LungCap|Age|Height|Smoke|Gender|Caesarean|              Random|Zero|Country|City|
+-------+---+------+-----+------+---------+--------------------+----+-------+----+
|  6.475|  6|  62.1|   no|  male|       no|  0.9247807853300706|   0|  Italy|Rome|
| 10.125| 18|  74.7|  yes|female|       no|  0.7634121438873512|   0|  Italy|Rome|
|   9.55| 16|  69.7|   no|female|      yes| 0.44689831575447114|   0|  Italy|Rome|
| 11.125| 14|  71.0|   no|  male|       no|  0.7764535190257928|   0|  Italy|Rome|
|    4.8|  5|  56.9|   no|  male|       no|0.036606339531124354|   0|  Italy|Rome|
+-------+---+------+-----+------+---------+--------------------+----+-------+----+
only showing top 5 rows

Feature Engineering: numerical transformation

In [38]:
lung_df_feat = lung_df.\
withColumn("LungCap_10", lung_df.LungCap * 10).\
withColumn("LungCap_Exp", exp("LungCap")).\
withColumn("LungCap_Log", log("LungCap")).\
withColumn("LungCap_Sqrt",sqrt("LungCap")).\
withColumn("LungCap_Sq", lung_df.LungCap ** 2)

lung_df_feat.show()

+-------+---+------+-----+------+---------+----------+------------------+------------------+------------------+------------------+
|LungCap|Age|Height|Smoke|Gender|Caesarean|LungCap_10|       LungCap_Exp|       LungCap_Log|      LungCap_Sqrt|        LungCap_Sq|
+-------+---+------+-----+------+---------+----------+------------------+------------------+------------------+------------------+
|  6.475|  6|  62.1|   no|  male|       no|     64.75| 648.7192276108779|1.8679486075856013| 2.544602129999894|         41.925625|
| 10.125| 18|  74.7|  yes|female|       no|    101.25|24959.255641914595| 2.315007612992603| 3.181980515339464|        102.515625|
|   9.55| 16|  69.7|   no|female|      yes|      95.5| 14044.69467150283| 2.256541154492639|3.0903074280724887| 91.20250000000001|
| 11.125| 14|  71.0|   no|  male|       no|    111.25| 67846.29106328034| 2.409194828052304|3.3354160160315836|        123.765625|
|    4.8|  5|  56.9|   no|  male|       no|      48.0|121.51041751873485|1.5686159179138452|2.1908902300206643|             23.04|
|  6.225| 11|  58.7|   no|female|       no|     62.25| 505.2230424568286|1.8285734423507713|2.4949949899749297| 38.75062499999999|
|   4.95|  8|  63.3|   no|  male|      yes|      49.5|141.17496392147686| 1.599387576580599| 2.224859546128699|           24.5025|
|  7.325| 11|  70.4|   no|  male|       no|     73.25|1517.7738986636516| 1.991293154903131|2.7064737205448717|         53.655625|
|  8.875| 15|  70.5|   no|  male|       no|     88.75| 7150.946467468294|2.1832383353614797| 2.979093821953246|         78.765625|
|    6.8| 11|  59.2|   no|  male|       no|      68.0| 897.8472916504176| 1.916922612182061|2.6076809620810595|46.239999999999995|
|   11.5| 19|  76.4|   no|  male|      yes|     115.0|  98715.7710107605|2.4423470353692043| 3.391164991562634|            132.25|
| 10.925| 17|  71.7|   no|  male|       no|    109.25|55547.844975787506| 2.391053740981654| 3.305298776207682|119.35562500000002|
|  6.525| 12|  57.5|   no|  male|       no|     65.25| 681.9797736506955|1.8756409532087572|  2.55440795488896|         42.575625|
|    6.0| 10|  61.1|   no|female|       no|      60.0| 403.4287934927351| 1.791759469228055| 2.449489742783178|              36.0|
|  7.825| 10|  61.2|   no|  male|       no|     78.25| 2502.386110840223| 2.057323736426217| 2.797320146139873|         61.230625|
|  9.525| 13|  63.5|   no|  male|      yes|     95.25|13697.929924528213|2.2539199210127645| 3.086259872402193| 90.72562500000001|
|  7.875| 15|  59.2|   no|  male|       no|     78.75| 2630.686190299136| 2.063693184711697| 2.806243040080456|         62.015625|
|   5.05|  8|  56.1|   no|  male|       no|      50.5|156.02246448639497|1.6193882432872684| 2.247220505424423|25.502499999999998|
|  7.025| 11|  61.2|  yes|female|       no|     70.25|1124.3945590051605|1.9494752152198096|2.6504716561397146| 49.35062500000001|
|  9.525| 14|  70.6|   no|female|       no|     95.25|13697.929924528213|2.2539199210127645| 3.086259872402193| 90.72562500000001|
+-------+---+------+-----+------+---------+----------+------------------+------------------+------------------+------------------+
only showing top 20 rows

Selecting and reordering columns

In [41]:
lung_df_feat.select\
(["LungCap_10", "LungCap_Exp", "LungCap_Log", "LungCap_Sqrt","LungCap_Sq"]).\
show(5)

+----------+------------------+------------------+------------------+-----------------+
|LungCap_10|       LungCap_Exp|       LungCap_Log|      LungCap_Sqrt|       LungCap_Sq|
+----------+------------------+------------------+------------------+-----------------+
|     64.75| 648.7192276108779|1.8679486075856013| 2.544602129999894|        41.925625|
|    101.25|24959.255641914595| 2.315007612992603| 3.181980515339464|       102.515625|
|      95.5| 14044.69467150283| 2.256541154492639|3.0903074280724887|91.20250000000001|
|    111.25| 67846.29106328034| 2.409194828052304|3.3354160160315836|       123.765625|
|      48.0|121.51041751873485|1.5686159179138452|2.1908902300206643|            23.04|
+----------+------------------+------------------+------------------+-----------------+
only showing top 5 rows

In [42]:
lung_df_feat.select\
(["Age", "Height", "LungCap","LungCap_10", "LungCap_Exp", "LungCap_Log", "LungCap_Sqrt","LungCap_Sq"]).\
show(5)

+---+------+-------+----------+------------------+------------------+------------------+-----------------+
|Age|Height|LungCap|LungCap_10|       LungCap_Exp|       LungCap_Log|      LungCap_Sqrt|       LungCap_Sq|
+---+------+-------+----------+------------------+------------------+------------------+-----------------+
|  6|  62.1|  6.475|     64.75| 648.7192276108779|1.8679486075856013| 2.544602129999894|        41.925625|
| 18|  74.7| 10.125|    101.25|24959.255641914595| 2.315007612992603| 3.181980515339464|       102.515625|
| 16|  69.7|   9.55|      95.5| 14044.69467150283| 2.256541154492639|3.0903074280724887|91.20250000000001|
| 14|  71.0| 11.125|    111.25| 67846.29106328034| 2.409194828052304|3.3354160160315836|       123.765625|
|  5|  56.9|    4.8|      48.0|121.51041751873485|1.5686159179138452|2.1908902300206643|            23.04|
+---+------+-------+----------+------------------+------------------+------------------+-----------------+
only showing top 5 rows

Starting from Spark 2.1 you can use DROP method

In [43]:
lung_df_feat.drop('Smoke', 'Gender','Caesarean').show(5)

+-------+---+------+----------+------------------+------------------+------------------+-----------------+
|LungCap|Age|Height|LungCap_10|       LungCap_Exp|       LungCap_Log|      LungCap_Sqrt|       LungCap_Sq|
+-------+---+------+----------+------------------+------------------+------------------+-----------------+
|  6.475|  6|  62.1|     64.75| 648.7192276108779|1.8679486075856013| 2.544602129999894|        41.925625|
| 10.125| 18|  74.7|    101.25|24959.255641914595| 2.315007612992603| 3.181980515339464|       102.515625|
|   9.55| 16|  69.7|      95.5| 14044.69467150283| 2.256541154492639|3.0903074280724887|91.20250000000001|
| 11.125| 14|  71.0|    111.25| 67846.29106328034| 2.409194828052304|3.3354160160315836|       123.765625|
|    4.8|  5|  56.9|      48.0|121.51041751873485|1.5686159179138452|2.1908902300206643|            23.04|
+-------+---+------+----------+------------------+------------------+------------------+-----------------+
only showing top 5 rows

Conditions and if-then: single condition - Binary Feature of 0 or 1.

In [49]:
lung_df_cond = lung_df.\
withColumn("Smoker_Binary", when(col("Smoke") == 'yes', 1).otherwise(0)).\
withColumn("Caesarean_Binary", when(col("Caesarean") == 'yes', 1).otherwise(0))

lung_df_cond.show(5)

+-------+---+------+-----+------+---------+-------------+----------------+
|LungCap|Age|Height|Smoke|Gender|Caesarean|Smoker_Binary|Caesarean_Binary|
+-------+---+------+-----+------+---------+-------------+----------------+
|  6.475|  6|  62.1|   no|  male|       no|            0|               0|
| 10.125| 18|  74.7|  yes|female|       no|            1|               0|
|   9.55| 16|  69.7|   no|female|      yes|            0|               1|
| 11.125| 14|  71.0|   no|  male|       no|            0|               0|
|    4.8|  5|  56.9|   no|  male|       no|            0|               0|
+-------+---+------+-----+------+---------+-------------+----------------+
only showing top 5 rows

In [56]:
lung_df_cond = lung_df.\
withColumn("Education",\
           when(col("Age") < 5, "Preschool").\
           when(col("Age") < 9, "Elementary School").\
           when(col("Age") < 14, "Middle School").\
           when(col("Age") < 18, "High School").\
           otherwise ("College"))

In [57]:
lung_df_cond.select\
(["Age","Education","Height"]).\
show(5)

+---+-----------------+------+
|Age|        Education|Height|
+---+-----------------+------+
|  6|Elementary School|  62.1|
| 18|          College|  74.7|
| 16|      High School|  69.7|
| 14|      High School|  71.0|
|  5|Elementary School|  56.9|
+---+-----------------+------+
only showing top 5 rows

Sorting a Spark Data Frame

In [70]:
# lung_df_cond.orderBy("Age",ascending=False).select(["Age","Education","Height"]).show(20)
# Sort by Education and then Height.
lung_df_cond.orderBy("Education","Height",ascending=False).show(40)

+-------+---+------+-----+------+---------+-------------+
|LungCap|Age|Height|Smoke|Gender|Caesarean|    Education|
+-------+---+------+-----+------+---------+-------------+
|  5.875|  3|  55.9|   no|  male|       no|    Preschool|
|    3.4|  4|  55.6|   no|  male|       no|    Preschool|
|  2.875|  4|  55.4|   no|  male|       no|    Preschool|
|  3.675|  3|  54.2|   no|  male|      yes|    Preschool|
|   4.65|  4|  53.7|   no|female|       no|    Preschool|
|  4.075|  3|  53.6|   no|  male|      yes|    Preschool|
|  5.475|  3|  52.9|   no|  male|       no|    Preschool|
|  3.225|  4|  52.8|   no|female|       no|    Preschool|
|    4.7|  3|  52.7|   no|  male|       no|    Preschool|
|   3.25|  3|  52.0|   no|  male|       no|    Preschool|
|  1.675|  3|  51.9|   no|  male|       no|    Preschool|
|  1.175|  3|  51.9|   no|  male|       no|    Preschool|
|  2.375|  4|  51.7|   no|female|      yes|    Preschool|
|  0.507|  3|  51.6|   no|female|      yes|    Preschool|
|    2.0|  3|  51.0|   no|female|       no|    Preschool|
|  3.425|  3|  51.0|   no|  male|      yes|    Preschool|
|  1.125|  4|  48.7|   no|female|       no|    Preschool|
|  1.025|  3|  47.0|   no|female|       no|    Preschool|
|   1.45|  3|  45.3|   no|female|       no|    Preschool|
|  12.05| 13|  77.2|   no|female|      yes|Middle School|
|  10.45| 13|  75.3|   no|  male|       no|Middle School|
|   11.8| 13|  73.5|   no|female|       no|Middle School|
|   9.85| 12|  73.4|   no|  male|      yes|Middle School|
|    7.8| 12|  73.3|  yes|female|      yes|Middle School|
|   9.75| 13|  72.8|  yes|  male|       no|Middle School|
|    9.7| 11|  72.4|   no|  male|       no|Middle School|
| 10.275| 11|  72.2|  yes|  male|       no|Middle School|
|  9.025| 11|  72.1|   no|female|      yes|Middle School|
|  11.95| 12|  71.6|   no|  male|       no|Middle School|
|   10.9| 13|  71.5|   no|  male|      yes|Middle School|
|  9.725| 12|  71.4|   no|  male|       no|Middle School|
|  7.875| 12|  71.4|   no|female|       no|Middle School|
|   9.35| 11|  71.2|  yes|  male|       no|Middle School|
|  9.675| 13|  71.2|   no|  male|       no|Middle School|
|  7.825| 13|  71.0|   no|female|       no|Middle School|
|  9.675| 12|  70.9|   no|  male|       no|Middle School|
|   8.25| 13|  70.9|   no|female|       no|Middle School|
|  7.325| 11|  70.4|   no|  male|       no|Middle School|
|  8.625| 11|  70.2|   no|  male|      yes|Middle School|
|   10.8| 11|  69.8|   no|  male|       no|Middle School|
+-------+---+------+-----+------+---------+-------------+
only showing top 40 rows

In [ ]:
# You can chain all of your filtering, sorting, selecting, etc or do on a line of their own.
# SPARK CREATES A DAG AND DOESN'T EXECUTE UNTIL YOU EXECUTE .SHOW().

Spark Filtering

In [83]:
lung_df_filt = lung_df_cond.filter("Age < 10")
lung_df_filt.orderBy('Age', ascending=False).show(20)
# lung_df_filt.show(20) this doesn't work.???

# Alternate way to do sort
lung_df_filt = lung_df_cond.filter(lung_df_cond.Age < 10)
lung_df_filt.orderBy('Age', ascending=False).show(20)

+-------+---+------+-----+------+---------+-------------+
|LungCap|Age|Height|Smoke|Gender|Caesarean|    Education|
+-------+---+------+-----+------+---------+-------------+
|    8.0|  9|  66.4|   no|  male|       no|Middle School|
|  9.325|  9|  66.5|   no|  male|       no|Middle School|
|  7.275|  9|  63.7|   no|  male|       no|Middle School|
|  8.775|  9|  63.6|   no|  male|       no|Middle School|
|  7.625|  9|  60.0|   no|female|       no|Middle School|
|   6.95|  9|  61.4|   no|female|       no|Middle School|
|  5.225|  9|  53.7|   no|female|       no|Middle School|
|   6.95|  9|  63.9|   no|  male|      yes|Middle School|
|  7.975|  9|  61.9|   no|  male|       no|Middle School|
|  6.725|  9|  56.1|   no|  male|       no|Middle School|
|  8.775|  9|  59.2|   no|female|       no|Middle School|
|  3.425|  9|  51.0|   no|  male|       no|Middle School|
|  4.725|  9|  59.3|   no|female|       no|Middle School|
|  9.025|  9|  65.6|   no|  male|       no|Middle School|
|  6.225|  9|  63.5|   no|  male|       no|Middle School|
|  5.875|  9|  59.0|   no|female|       no|Middle School|
|  6.175|  9|  63.9|   no|female|      yes|Middle School|
|   6.05|  9|  62.1|   no|  male|       no|Middle School|
|  7.375|  9|  59.9|   no|female|       no|Middle School|
|    6.5|  9|  59.2|   no|  male|       no|Middle School|
+-------+---+------+-----+------+---------+-------------+
only showing top 20 rows

+-------+---+------+-----+------+---------+-------------+
|LungCap|Age|Height|Smoke|Gender|Caesarean|    Education|
+-------+---+------+-----+------+---------+-------------+
|    8.0|  9|  66.4|   no|  male|       no|Middle School|
|  9.325|  9|  66.5|   no|  male|       no|Middle School|
|  7.275|  9|  63.7|   no|  male|       no|Middle School|
|  8.775|  9|  63.6|   no|  male|       no|Middle School|
|  7.625|  9|  60.0|   no|female|       no|Middle School|
|   6.95|  9|  61.4|   no|female|       no|Middle School|
|  5.225|  9|  53.7|   no|female|       no|Middle School|
|   6.95|  9|  63.9|   no|  male|      yes|Middle School|
|  7.975|  9|  61.9|   no|  male|       no|Middle School|
|  6.725|  9|  56.1|   no|  male|       no|Middle School|
|  8.775|  9|  59.2|   no|female|       no|Middle School|
|  3.425|  9|  51.0|   no|  male|       no|Middle School|
|  4.725|  9|  59.3|   no|female|       no|Middle School|
|  9.025|  9|  65.6|   no|  male|       no|Middle School|
|  6.225|  9|  63.5|   no|  male|       no|Middle School|
|  5.875|  9|  59.0|   no|female|       no|Middle School|
|  6.175|  9|  63.9|   no|female|      yes|Middle School|
|   6.05|  9|  62.1|   no|  male|       no|Middle School|
|  7.375|  9|  59.9|   no|female|       no|Middle School|
|    6.5|  9|  59.2|   no|  male|       no|Middle School|
+-------+---+------+-----+------+---------+-------------+
only showing top 20 rows

Group By Operations with Functions applied

In [102]:
lung_df.groupby('Gender').agg(sum('LungCap')).show()

+------+------------------+
|Gender|      sum(LungCap)|
+------+------------------+
|female|          2651.257|
|  male|3049.5249999999987|
+------+------------------+

In [94]:
lung_df.groupby('Gender').agg(mean('Height')).show()

+------+------------------+
|Gender|       avg(Height)|
+------+------------------+
|female|63.805586592178805|
|  male|   65.841689373297|
+------+------------------+

In [95]:
lung_df.groupby('Gender').sum('Height', 'LungCap').show()

+------+------------------+------------------+
|Gender|       sum(Height)|      sum(LungCap)|
+------+------------------+------------------+
|female|22842.400000000012|          2651.257|
|  male|           24163.9|3049.5249999999987|
+------+------------------+------------------+

In [96]:
lung_df.groupby('Gender').agg(min('Height'),max('Height')).orderBy('Gender').show()

+------+-----------+-----------+
|Gender|min(Height)|max(Height)|
+------+-----------+-----------+
|female|       45.3|       79.8|
|  male|       47.8|       81.8|
+------+-----------+-----------+

In [98]:
lung_df.groupby('Gender').agg(sum('LungCap'),count('*')).show()

+------+------------------+--------+
|Gender|      sum(LungCap)|count(1)|
+------+------------------+--------+
|female|          2651.257|     358|
|  male|3049.5249999999987|     367|
+------+------------------+--------+

In [101]:
lung_df.groupby('Gender').agg(countDistinct('Smoke')).show()

+------+---------------------+
|Gender|count(DISTINCT Smoke)|
+------+---------------------+
|female|                    2|
|  male|                    2|
+------+---------------------+

In [104]:
lung_df.groupby('Gender').agg(min('Height'),avg('Height'), max('Height'), sum('Height'),\
                                               min('Age'), avg('Age'), max('Age'),\
                                                  count('*')).orderBy('Gender', ascending=False).show()

+------+-----------+------------------+-----------+------------------+--------+------------------+--------+--------+
|Gender|min(Height)|       avg(Height)|max(Height)|       sum(Height)|min(Age)|          avg(Age)|max(Age)|count(1)|
+------+-----------+------------------+-----------+------------------+--------+------------------+--------+--------+
|  male|       47.8|   65.841689373297|       81.8|           24163.9|       3|12.207084468664851|      19|     367|
|female|       45.3|63.805586592178805|       79.8|22842.400000000012|       3|12.449720670391061|      19|     358|
+------+-----------+------------------+-----------+------------------+--------+------------------+--------+--------+

How to rename columns for better readability
When doing line continuation "\" do not have a space after it.  An error will occur.
For better readability.

In [120]:
lung_df.groupby('Gender')\
    .agg\
        (min('Height').alias('Height_Min'),\
         avg('Height').alias('Height_Avg'),\
         max('Height').alias('Height_Max'),\
         sum('Height').alias('Height_Sum'),\
         min('Age').alias('Age_Min'),\
         avg('Age').alias('Age_Avg'),\
         max('Age').alias('Age_Max'),\
         count('*').alias('Record_Cnt'))\
    .orderBy('Gender', ascending=False).show()

+------+----------+------------------+----------+------------------+-------+------------------+-------+----------+
|Gender|Height_Min|        Height_Avg|Height_Max|        Height_Sum|Age_Min|           Age_Avg|Age_Max|Record_Cnt|
+------+----------+------------------+----------+------------------+-------+------------------+-------+----------+
|  male|      47.8|   65.841689373297|      81.8|           24163.9|      3|12.207084468664851|     19|       367|
|female|      45.3|63.805586592178805|      79.8|22842.400000000012|      3|12.449720670391061|     19|       358|
+------+----------+------------------+----------+------------------+-------+------------------+-------+----------+

The next section is sampling of the data.  Make time to do!!